body {
    /* transform: scaleX(-1); */
    margin: 0px;
    overflow: hidden;
  }

#whole {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
  }

a-camera {
    transform: scaleX(-1);
  }